#contenedor{
        border:1px solid  #CCC;
        width:100%;
        font-family:Verdana, Geneva, sans-serif;
        font-size:13px;
        padding:1px;
        text-align:center;
        color:#999999;
        background-color:#BDBDBD;
}
#cabecera{
        background-image: url('../Imagenes/cabe.png');
        height:170px;
}
#izquierda{
        height:395px;
        float:left;
        width:15%;
}
#form
{
	width:1024px;
    height:350px;
	float:left;
    border-radius:20px;
}
#pie{
        height:55px;
        background-image:url('../Imagenes/city_footer.png');
        clear:both;
}